* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  background: url("registration_backgroundImage.jpg") no-repeat center center /
    cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: groove;
}

.innerLoginContainer {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 450px;
}

.signInText {
  text-align: left;
  margin-bottom: 20px;
}

.loginToggle {
  display: flex;
  justify-content: right;
  width: 450px;
  height: 30px;
  align-items: center;
  transform: translateY(-34px);
  gap: 15px;
}

.loginAuthToggleSign-in {
  text-align: center;
  padding-top: 10px;
  /* border: groove; */
  background-color: #88c0d0;
  font-weight: bold;
  width: 100px;
  /* border: groove; */
  height: 39px;
}

.loginAuthToggleRegister:hover {
  color: #88c0d0;
}

.loginAuthToggleRegister {
  cursor: pointer;
  color: gray;
}

.loginForm {
  margin-top: 10px;
  height: 300px;
  display: grid;
}

.loginInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.loginInput::placeholder {
  color: #aaa;
}

.loginForm > label {
  display: block;
  font-size: 17px;
  margin: 10px 0 5px;
  margin-top: 10px;
}
.loginCheckboxContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.loginCheckboxContainer > label {
  margin-left: 20px;
}

.loginForm > button {
  background-color: #88c0d0;
  color: #e5e9f0;
  height: 35px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .loginContainer {
    background: url("registration_backgroundImage.jpg") no-repeat center center /
      cover;
    width: 110vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginToggle {
    display: flex;
    justify-content: right;
    width: 230px;
    height: 30px;
    align-items: center;
    transform: translateY(-34px);
    gap: 15px;
  }

  .innerLoginContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 450px;
    margin-right: 25px;
    border: groove;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .loginContainer {
    background: url("registration_backgroundImage.jpg") no-repeat center center /
      cover;
    width: 110vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginToggle {
    display: flex;
    justify-content: right;
    width: 530px;
    height: 30px;
    align-items: center;
    transform: translateY(-34px);
    gap: 15px;
  }

  .innerLoginContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 460px;
    margin-right: 70px;
    border: groove;
  }
}

/* @media (min-width: 1001px) and (max-width: 1400px) {
  .loginContainer {
    background: url("registration_backgroundImage.jpg") no-repeat center center /
      cover;
    width: 110vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginToggle {
    display: flex;
    justify-content: right;
    width: 1000px;
    height: 30px;
    align-items: center;
    transform: translateY(-34px);
    gap: 15px;
  }

  .innerLoginContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 460px;
    margin-right: 70px;
    border: groove;
  }
} */
