.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidePa {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
  }
}
